/*Custom properties*/

/* :root {
    
} */

/*Globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}

.container{
    max-width: 50rem;
    margin: 0 auto;
}